.mat filter=lfs diff=lfs merge=lfs -text
.zip filter=lfs diff=lfs merge=lfs -text
/EXPI/IMAGES/*.mat filter=lfs diff=lfs merge=lfs -text
EXPII/TRAINED_MODELS_MFA_NEW/TRAINED_MODELS_UNZIP_TO_RUN_CODE.zip filter=lfs diff=lfs merge=lfs -text
EXPII/FC7/*mat filter=lfs diff=lfs merge=lfs -text
EXPI/TRAINED[[:space:]]MODELS[[:space:]]FEATURES/MIT.zip filter=lfs diff=lfs merge=lfs -text
EXPI/FC7/*mat filter=lfs diff=lfs merge=lfs -text
VIDEOS/EXPII/S1[[:space:]](MS_19)/S1[[:space:]]Foils/* filter=lfs diff=lfs merge=lfs -text
VIDEOS/EXPII/S1[[:space:]](MS_19)/S1[[:space:]]Target/* filter=lfs diff=lfs merge=lfs -text
VIDEOS/EXPII/S2[[:space:]](MS_20)/S2[[:space:]]Target/* filter=lfs diff=lfs merge=lfs -text
VIDEOS/EXPII/S3[[:space:]](MS_21)/S3[[:space:]]Target/* filter=lfs diff=lfs merge=lfs -text
VIDEOS/EXPII/S4[[:space:]](MS_22)/S4[[:space:]]Target/* filter=lfs diff=lfs merge=lfs -text
VIDEOS/EXPII/S4[[:space:]](MS_22)/S4[[:space:]]Foils/* filter=lfs diff=lfs merge=lfs -text
VIDEOS/EXPII/S5[[:space:]](MS_23)/S5[[:space:]]Foils/* filter=lfs diff=lfs merge=lfs -text
VIDEOS/EXPII/S5[[:space:]](MS_23)/S5[[:space:]]Target/* filter=lfs diff=lfs merge=lfs -text
VIDEOS/EXPII/S6[[:space:]](MS_24)/S6[[:space:]]Target/* filter=lfs diff=lfs merge=lfs -text
VIDEOS/EXPII/S6[[:space:]](MS_24)/S6[[:space:]]Foils/* filter=lfs diff=lfs merge=lfs -text
VIDEOS/EXPII/S7[[:space:]](MS_25)/S7[[:space:]]Foils/* filter=lfs diff=lfs merge=lfs -text
VIDEOS/EXPII/S7[[:space:]](MS_25)/S7[[:space:]]Target/* filter=lfs diff=lfs merge=lfs -text
VIDEOS/EXPII/S8[[:space:]](MS_26)/S8[[:space:]]Target/* filter=lfs diff=lfs merge=lfs -text
VIDEOS/EXPII/S8[[:space:]](MS_26)/S8[[:space:]]Foils/* filter=lfs diff=lfs merge=lfs -text
VIDEOS/EXPII/S9[[:space:]](MS_27)/S9[[:space:]]Foils/* filter=lfs diff=lfs merge=lfs -text
VIDEOS/EXPII/S9[[:space:]](MS_27)/S9[[:space:]]Target/* filter=lfs diff=lfs merge=lfs -text
VIDEOS/EXPII/S10[[:space:]](MS_28)/S10[[:space:]]Target/* filter=lfs diff=lfs merge=lfs -text
VIDEOS/EXPII/S10[[:space:]](MS_28)/S10[[:space:]]Foils/* filter=lfs diff=lfs merge=lfs -text
VIDEOS/EXPI/3MONTHS/*/*/* filter=lfs diff=lfs merge=lfs -text
VIDEOS/EXPI/1DAY/*/*/* filter=lfs diff=lfs merge=lfs -text
